@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Mono&display=swap');



.first_box {
  background-color: #F6F6F6;
  width: 600px;
  margin: 10px auto;
  text-align: center;
  padding: 1%;
}

.img_circle {
  height: 40%;
  width: 40%;
  border-radius: 50%;
}

.list-inline-item {
  display: inline-block;
  font-size: 50px;
  color: #6D9886;
  margin: 0 10px;
}

h1 {
  font-weight: 800;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #6D9886;
}

a:hover {
  color: gray;
}

a { color:gray;
  text-decoration: none;
  }
a:hover { color:#6D9886; }
.nav a { color:#D9CAB3; }


@media (max-width: 960px) {
  .first_box {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .first_box {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .first_box {
    width: 300px;
  }
}
